node_modules
**/node_modules
dist
**/dist
build
**/build
.env
.env.local
**/.env
**/.env.local
.env.*
**/.env.*
*.log
.git
.DS_Store
.expo
**/.expo
.turbo
coverage
**/coverage
/storage
backups
.github
*.pem
*.key
docs
